<p>product works!</p>




<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
            <img src="http://placehold.it/150x50?text=Logo" alt="">
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link"
              *ngIf="loginservice.isUserLoggedIn()"  routerLink="/home">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginservice.isUserLoggedIn()"   routerLink="/display">ShowProducts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   *ngIf="loginservice.isUserLoggedIn()"  routerLink="/add">AddProduct</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"    *ngIf="loginservice.isUserLoggedIn()"  routerLink="/update">UpdateProduct</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"    *ngIf="loginservice.isUserLoggedIn()" routerLink="/delete">DeleteProduct</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"   *ngIf!="loginservice.isUserLoggedIn()"  routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/logout">Logout</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-4">DXC</h1>
    <p>Welcome to Product Managment System by DXC </p>
  </div>
  

    <router-outlet></router-outlet>

    <footer      class="footer">
        
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">All Rights are Reserved CopyRight DXC 20202</nav>
            
      
      </footer>
          
      



  